body{
    display: block;
}

.section{
    
    text-align: center;
    margin: 2rem 2rem 2rem 2rem;
    padding:2px 2px 2px 2px;
   

}

.form{
 
    text-align: center;
     
}

input:hover,
input:active
{
    background-color:rgb(64, 226, 202);
}


.label{
    font-family: sans-serif;
    color:black

}

button:hover,
button:active{
    background-color: aqua;
 }
 